numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
streamlit==1.32.2
wordcloud==1.9.3
Sastrawi==1.0.1
scipy==1.12.0
scikit-learn==1.4.2
altair==5.2.0
yfinance==0.2.37
feedparser==6.0.11
alpha_vantage
beautifulsoup4
requests
pytz
lxml
rich==13.9.4
